/* our custom CSS file*/
.invalid-feedback {
  padding-left: 1rem;
  align-content: center;
}
.invalid-feedback label {
  margin-left: 10px;
}
.invalid-feedback i {
  margin-bottom: 1rem;
}

#null-search-message h1 {
  margin: auto;
  color: black;
}

#average-rating,
#minimum-reviews,
#release-date {
  cursor: pointer;
}

#average-rating:hover,
#minimum-reviews:hover,
#release-date:hover {
  background-color: white;
  color: black;
}

#albumn-column-headers {
  background-color: black;
  color: white;
}
table th,
td {
  margin: auto;
  vertical-align: middle;
}
